.artikel {
    display: flex;
    flex-direction: column;
    width: 1200px;
    justify-content: center;
    margin: 0 auto;
}

.all-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 0.1px solid grey;
    padding: 40px 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.artikel-card {
    width: 350px;
    text-align: justify;
    border: 0.1px solid #ff9e65;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}

.artikel-card a {
    text-decoration: none;
}

.artikel-card img {
    width: 300px;
}

.artikelPost {
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    .card-testi {
        max-width: 350px;
        font-size: 16px;
        height: 500px;
    }

    .text-testimoni h1 {
        font-size: 20px;
        border-radius: 20px;
        margin: 15px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
