.content-informasi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.artikel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1200px;
    justify-content: center;
    margin: 0 auto;
}

.all-card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 0.1px solid grey;
    border-radius: 5px;
    margin-bottom: 20px;
    gap: 20px;
}

.artikel-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    text-align: justify;
    border: 0.1px solid gray;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
    position: relative;
    box-shadow: 3px 3px 3px gray;
}

.artikel-card a {
    text-decoration: none;
}

.artikel-card:hover {
    background-color: #fffbd4;
}

.artikel-card img {
    width: 300px;
}

.artikelPost {
    display: flex;
    justify-content: center;
}

/* Setiap Artikel */
.kanvasAll {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-evenly;
}

.setiapArtikel {
    width: 800px;
    background-color: white;
    color: black;
}

.postimg img {
    max-width: 800px;
    height: 400px;
}

/* .gambarTiapPost img {
    max-width: 100%;
    height: auto;
} */

.selengkapnya {
    background-color: #ff9e65;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white !important;
    font-weight: bold;
}

.btn-more {
    background-color: #ff9e65;
    padding: 10px 10px;
    border-radius: 5px;
    color: #fff !important;
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: all 1s;
    font-size: 15px;
    font-weight: bold;
}

.btn-more:hover {
    background-color: #ff853e;
    transform: scale(0.9);
}

@media (max-width: 600px) {
    .card-testi {
        max-width: 350px;
        font-size: 16px;
        height: 500px;
    }

    .text-testimoni h1 {
        font-size: 20px;
        border-radius: 20px;
        margin: 15px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .all-card {
        border: none;
        width: 350px;
    }

    .artikel {
        width: 300px;
    }

    .content-informasi {
        width: 350px;
        margin-left: -30px;
    }

    .artikel-card img {
        width: 300px;
    }

    .heroimg {
        width: 350px;
    }

    .heroimg img {
        width: 350px;
    }

    .postimg img {
        max-width: 100%;
        height: auto;
    }
}

@media (width: 900px) and (max-width: 1200px) {
    /* Styles for wider tablets */

    .all-card {
        border: none;
        width: 350px;
    }

    .artikel {
        width: 600px;
    }

    .content-informasi {
        width: 350px;
        margin-left: -30px;
    }

    .artikel-card img {
        width: 300px;
    }

    .heroimg {
        width: 350px;
    }

    .heroimg img {
        width: 350px;
    }
}
