.content-informasi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.artikel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1200px;
    justify-content: center;
    margin: 0 auto;
}

.all-card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 0.1px solid grey;
    border-radius: 5px;
    margin-bottom: 20px;
}

.artikel-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    text-align: justify;
    border: 0.1px solid #ff9e65;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}

.artikel-card a {
    text-decoration: none;
}

.artikel-card img {
    width: 300px;
}

.artikelPost {
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    .card-testi {
        max-width: 350px;
        font-size: 16px;
        height: 500px;
    }

    .text-testimoni h1 {
        font-size: 20px;
        border-radius: 20px;
        margin: 15px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .all-card {
        border: none;
        width: 350px;
    }

    .artikel {
        width: 300px;
    }

    .content-informasi {
        width: 350px;
        margin-left: -30px;
    }

    .artikel-card img {
        width: 300px;
    }

    .heroimg {
        width: 350px;
    }

    .heroimg img {
        width: 350px;
    }
}

@media (width: 900px) and (max-width: 1200px) {
    /* Styles for wider tablets */

    .all-card {
        border: none;
        width: 350px;
    }

    .artikel {
        width: 600px;
    }

    .content-informasi {
        width: 350px;
        margin-left: -30px;
    }

    .artikel-card img {
        width: 300px;
    }

    .heroimg {
        width: 350px;
    }

    .heroimg img {
        width: 350px;
    }
}
