.body-faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.faq-hero {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background: url("https://cdn.pixabay.com/photo/2017/08/10/08/50/sunset-2620135_640.jpg");
    background-size: cover;
    height: 150px;
    color: #fff;
}

.container-card-faq {
    display: flex;
    background: url("https://cdn.pixabay.com/photo/2017/08/10/08/50/sunset-2620135_640.jpg");
    background-size: cover;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container-card-faq .card-faq {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px;
    width: 600px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    margin: 20px;
    background-color: #2b2b2b;
    color: #fff;
}

.container-card-faq .card-faq:hover {
    background: url("https://cdn.pixabay.com/photo/2023/01/29/08/33/photo-7752809_960_720.jpg");
    color: #fff;
}

.container-card-faq .card-faq .title-faq {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
}

/* FAQ PUPUP */
.faq-popup {
    display: none; /* Popup tersembunyi secara default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
    width: 50%;
    max-height: 90%;
    overflow-y: auto;
}

.faq-popup.active {
    display: block; /* Popup muncul saat memiliki kelas active */
}

.faq-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.faq-question {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}

.faq-answer {
    display: none; /* Jawaban tersembunyi secara default */
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}

.faq-item.active .faq-answer {
    display: block; /* Jawaban muncul saat faq-item memiliki kelas active */
}

/* Search */
.faq-search {
    text-align: center;
    margin-bottom: 20px;
}

#faq-search-input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 0 auto;
    display: block;
}

@media (max-width: 600px) {
    .faq-popup {
        width: 90%;
    }
}
