@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');


.categories {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    padding: 30px;
    background: linear-gradient(to right, #000000e8, #2c3e50, #000000);
}

.category-button {
    display: flex;
    background-color: #ff8d58;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.category-button:hover {
    background-color: #e76f42;
    transform: scale(1.1);
}


.category-description h2 {
    margin-bottom: 10px;
    margin-top: 30px;
}



.category-description {
    margin: 0%;
    padding: 70px;
    background-color: #2c3e50;
    color: white;
    width: 100%;
    text-align: center;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.category-description[style="display: block;"] {
    opacity: 1;
    transform: scale(1);
}


/* bagian lampu */

.card-orange {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
}

.card-orange .card {
    display: flex;
    flex-direction: column;
    padding: 80px 40px;
    margin: 0 20px;
    width: 400px;
    height: 140px;
    background: linear-gradient(to top, #000000e8, #2c3e50);
    border-radius: 8px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.card-orange .card i {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: azure;
    margin-bottom: 20px;
}

.card-orange .card p {
    text-align: center;
    color: azure;
}

.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.card:hover {
    transform: scale(1.05); /* Membesar saat dihover */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); /* Memberikan bayangan */
}

.keunggulan{
    background: linear-gradient(to right, #000000e8, #2c3e50, #000000);;
}

/* Content Keunggulan */
.keunggulan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    padding: 80px;
    flex-wrap: wrap;
}

.keunggulan .slogan {
    font-size: 40px;
    margin-bottom: 80px;
    text-align: center;
    margin-top: 100px;
}

.keunggulan .card-keunggulan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.keunggulan .card-keunggulan .list-keunggulan {
    margin: 20px;
    padding: 40px;
    width: 400px;
    height: 300px;
    text-align: center;
}

.keunggulan .card-keunggulan .list-keunggulan .icon {
    font-size: 40px;
    margin: 40px 0;
    color: #ff8d58;
}

.keunggulan .card-keunggulan .list-keunggulan h3 {
    margin: 20px 0;
}

/* scrol langung ke atas */
.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.scroll-to-top:hover {
    transform: scale(1.1);
    background: linear-gradient(to right, #feb47b, #ff7e5f);
}

.scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
}

/* ukuran hp */

@media (max-width: 768px) {
    .category-description h2 {
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 20px;
    }

    .category-description {
        padding: 20px;
        font-size: 15px;
    }

    .card-orange .card {
        width: 100%;
        height: 155px;
        border-radius: 5px;
        font-size: 15px;
        justify-content: center;
        padding: 30px;
        margin: 10px;
    }

    .card-orange .card i {
        display: flex;
        justify-content: center;
        font-size: 25px;
    }


    .keunggulan {
        padding: 0px;
    }

    .keunggulan .slogan {
        font-size: 20px;
        text-align: center;
        margin: 25px;
        margin-top: 35px;
    }

    .keunggulan .card-keunggulan .list-keunggulan {
        margin: 0px;
        padding: 0px;
        width: 200px;
        height: 400px;
        text-align: center;
    }


}
