/* Menu Kategori-------------- halaman produk*/
.category-menu {
    display: flex;
    justify-content: center;
    background-color: #ff8d58;
    padding: 18px;
    gap: 15px;
}

.category-btn {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-btn:hover,
.category-btn.active {
    background-color: #ff5100;
    color: white;
}

/* Search Section */
.search-section {
    margin: 20px auto;
    text-align: center;
    opacity: 0;
    transform: scale(0.8) translateY(20px);
    transition: transform 0.5s ease, opacity 0.5s ease;
    display: none;
}

.search-section.zoom-in {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0);
}

.search-section.zoom-out {
    opacity: 0;
    transform: scale(0.8) translateY(20px);
    display: none;
}

.search-section.fade-bounce {
    animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {
    0% {
        transform: scale(1) translateY(0);
    }
    30% {
        transform: scale(1.05) translateY(-10px);
    }
    50% {
        transform: scale(0.95) translateY(5px);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}

.search-input {
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
}

/* Kontainer Produk */
.product-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    overflow: hidden;
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.product-card h2 {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.product-card p {
    color: #666;
    margin: 10px 0;
}

.details-button {
    background-color: #ff8d58;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.details-button:hover {
    background-color: #ff5405;
}
