body,
html {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #000000e8, #2c3e50,  #000000);
}

.kategori-list {
    margin: 100px 0;
    text-align: center;
    background-color: #ff8d58;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.kategori-list a {
    margin: 0 60px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
}

.product-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.product-card {
    width: 300px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 3px 3px 3px #cccccb;
    transition: all 0.7s;
}

.product-card p {
    margin: 0;
}

.product-card:hover {
    transform: scale(0.98);
    border: 2px solid #ff8d58;
}

.product-card img {
    width: 300px;
}
.details-button {
    width: 100%; /* Tombol mengambil seluruh lebar elemen pembungkus */
    padding: 10px 15px; /* Tambahkan ruang di dalam tombol */
    background-color: #ff9f50; /* Warna latar belakang */
    color: white; /* Warna teks */
    border: none; /* Hilangkan border default */
    border-radius: 5px; /* Opsional: buat sudut tombol melengkung */
    font-size: 16px; /* Sesuaikan ukuran teks */
    cursor: pointer; /* Menambahkan pointer saat hover */
    text-transform: uppercase; /* Membuat teks kapital (opsional) */
    display: block; /* Mengubah tombol menjadi elemen blok */
}

.details-button:hover {
    background-color: #ff7f20; /* Ubah warna saat hover */
}

.details-button a {
    text-decoration: none; /* Hilangkan garis bawah pada elemen <a> */
    display: block; /* Pastikan elemen <a> menjadi blok penuh */
    width: 100%; /* Elemen pembungkus juga mengambil lebar penuh */
}

/* Detail Produk */
.detail-product-card {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 100px 0;
}
