/* Mengimpor font dari Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Mengatur warna latar belakang body */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5; /* Warna abu-abu terang */
}

/* Mengatur warna latar belakang elemen utama di dashboard */
.dashboard-container {
    background-color: #f5f5f5; /* Warna abu-abu terang */
    padding: 20px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

/* Mengatur transisi warna latar belakang dan teks untuk item navigasi */
.nav-item a,
.sidebar .nav-link {
    transition: background-color 0.3s, color 0.3s;
}

/* Mengatur warna teks submenu */
.nav-item .nav-link {
    display: block;
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.nav-item .nav-link svg {
    transition: transform 0.3s;
}

.nav-item .nav-link:hover svg {
    transform: scale(1.1);
}

/* Mengatur tampilan kolom navigasi */
.nav.flex-column {
    display: block;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.nav.flex-column.d-none,
.nav.flex-column.collapsed {
    max-height: 0;
    opacity: 0;
}

.nav.flex-column.d-block,
.nav.flex-column.expanded {
    max-height: 500px; /* Sesuaikan sesuai kebutuhan */
    opacity: 1;
}

/* Mengatur warna latar belakang sidebar atau submenu */
.sidebar {
    background-color: #2c3e50; /* Warna abu-abu gelap */
    color: hsl(0, 0%, 100%); /* Warna teks putih */
    font-family: 'Roboto', sans-serif;
}

.sidebar .nav-link {
    font-size: 0.875rem;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.sidebar .nav-link:hover {
    background-color: #297fb97a; /* Warna latar belakang saat di-hover */
    color: #ffffff; /* Warna teks saat di-hover */
}

.sidebar-heading {
    color: #cacaca; /* Warna teks putih */
    cursor: pointer;
    font-size: 0.75rem;
}

.sidebar-heading:hover {
    background-color: #0093f57a; /* Warna latar belakang saat di-hover */
}

.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.active-dashboard {
    background-color: #2980B9; /* Warna latar belakang yang diinginkan */
    color: #ffffff; /* Warna teks yang diinginkan */
}

/* Detail Produk */
.detail-product-card,
.detail-card {
    display: flex;
    flex-wrap: wrap;
}

.detail-product-card {
    padding-bottom: 40px;
}

.detail-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    padding: 60px 30px;
}

.gambar-produk img,
.gambar-thumbnail img {
    border-radius: 5px;
    margin: 10px 5px;
}

.gambar-produk img {
    max-width: 400px;
    max-height: 400px;
}

.gambar-thumbnail img {
    max-width: 350px;
}

.gambar-produk-detail img {
    width: 70px;
    height: 70px;
}

.video-img {
    filter: brightness(0.6);
}

.video-place {
    position: relative;
}

.video-place i {
    position: absolute;
    top: 37%;
    left: 40%;
    color: #fff;
    font-size: 22px;
}

.gambar-produk-detail {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    gap: 10px;
    margin-top: 15px;
}

.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.thumbnail:hover {
    border-color: #007bff;
}

#preview-image {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    margin-bottom: 15px;
}

/* Info produk */
.detail-info {
    max-width: 600px;
    margin: 0 40px;
    font-family: 'Roboto', sans-serif;
}

.detail-card .img-detail {
    max-width: 400px;
    border-radius: 7px;
    margin: 10px;
}

.detail-card .img-detail img {
    width: 100%;
}

.detail-card .button {
    margin: 30px 0;
}

.kembali-button {
    background-color: #2ad4ff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

.kembali-button:hover {
    background-color: #ff8a2a;
    color: #fff;
}

.detail-info h2 a {
    color: #ff8a2a;
}

/* Info Penting tanda * */
.penting {
    color: #ff2d38;
}

/* Dashboard index */
.card-jml-produk {
    display: flex;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    flex-wrap: wrap;
    align-items: center;
}

.card-jml-produk .info {
    width: 300px;
    padding: 10px;
    margin: 20px;
    background-color: #ff943d;
    color: #fff;
    border-radius: 5px;
}

/* Setiap Artikel */
.kanvasAll,
.setiapArtikel {
    background-color: white;
    color: black;
}

.kanvasAll {
    border-radius: 20px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-evenly;
}

.setiapArtikel {
    width: 800px;
    background-color: white;
    color: black;
}

.gambarTiapPost img {
    width: 100%;
    height: auto;
}

.postimg img {
    max-width: 800px;
    height: 400px;
}

/* Variasi detail produk */
.card-variasi {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    max-width: 200px;
    max-height: 100px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}

.card-variasi:hover {
    cursor: pointer;
}

.card-variasi.selected {
    border: 2px solid #ff943d;
    background-color: #f0f8ff;
}

.card-variasi p {
    margin: 0;
}

/* Video CSS Detail Produk */
/* Responsivitas untuk video */
.video-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); /* Background transparan */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.video-wrapper video {
    max-width: 90%; /* Maksimal 90% lebar layar */
    max-height: 90%; /* Maksimal 90% tinggi layar */
    border-radius: 8px; /* Tambahkan sedikit sudut melengkung */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Tombol tutup (X) */
.close-button {
    position: absolute;
    top: 120px; /* Jarak dari atas, sesuaikan sesuai kebutuhan */
    right: 40px; /* Jarak dari kanan */
    background: #ff4d4d; /* Warna latar tombol */
    color: #fff; /* Warna teks (X) */
    border: none; /* Hapus border */
    font-size: 18px; /* Ukuran tanda X */
    cursor: pointer; /* Ubah kursor jadi pointer */
    border-radius: 50%; /* Membuat tombol berbentuk lingkaran */
    width: 30px; /* Lebar tombol */
    height: 30px; /* Tinggi tombol */
    display: flex; /* Gunakan flexbox untuk memastikan konten di tengah */
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center; /* Pusatkan secara vertikal */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Tambahkan bayangan */
    z-index: 1001;
    line-height: 0; /* Pastikan line-height tidak mengganggu posisi X */
}

.close-button:hover {
    background: #ff1a1a;
}

/* Styling untuk autocomplete */
.ui-autocomplete {
    max-height: 200px; /* Atur tinggi maksimum agar bisa di-scroll */
    overflow-y: auto; /* Menambahkan scroll jika daftar terlalu panjang */
    background-color: #ffffff !important; /* Pastikan backgroundnya tidak transparan */
    border: 1px solid #ccc; /* Tambahkan border untuk memperjelas elemen */
    width: 40% !important; /* Agar lebar dropdown sama dengan input */
}

/* Styling untuk item autocomplete */
.ui-menu-item {
    cursor: pointer; /* Menambahkan pointer saat hover */
}

/* Efek hover pada item autocomplete */
.ui-menu-item:hover {
    background-color: #007bff; /* Warna biru saat hover */
    color: white; /* Warna teks putih saat hover */
}

@media (max-width: 768px) {
    .sidebar .offcanvas-lg {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }

    .navbar-search {
        display: block;
    }

    .detail-info {
        margin: 0 20px;
    }

    .gambar-thumbnail img {
        max-width: 350px;
    }

    /* Detail Produk */
    .gambar-produk img {
        max-width: 300px;
        max-height: 300px;
        border-radius: 5px;
        margin: 10px 5px;
    }

    .gambar-produk-detail img {
        width: 45px;
        height: 45px;
    }

    .gambar-produk-detail {
        margin: 0;
        max-width: 350px;
    }

    .postimg img {
        max-width: 100%;
        height: auto;
    }

    /* Variasi detail show */
    .detail-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
        padding: 10px 10px;
    }

    .ui-autocomplete {
        width: 90% !important;
    }
}

/* Navbar */
.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .form-control {
    padding: 0.75rem 1rem;
}

.card {
    border: none;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    font-family: 'Roboto', sans-serif;
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card h1 {
    font-size: 2.5em;
    margin-top: 10px;
}

.bg-dark-gray {
    background-color: #2c3e50 !important; /* Warna abu-abu gelap */
}

.collapsed {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.expanded {
    max-height: 500px; /* Sesuaikan sesuai kebutuhan */
    transition: max-height 0.3s ease-in;
}
